= render partial: "gifts/header"
- breadcrumb :logout
= render partial: "layouts/breadcrumbs"
.logout-main
  .mypage-main-content
    = render 'mypage/modules/mypage-sidebar'

    .logout-content
      .logout-btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete

= render "gifts/listing-button"
= render "gifts/footer"

