.header
  .wrapper
    .upper
      .upper__logo
        
        %p 
          =link_to 'FreeMarketTeamC',root_path
        %i.fas.fa-shopping-cart.fa-lg.fa-spin
        
      .upper__search-box-form
        %p 何かお探しですか？
        = fa_icon 'search', class: "icon-gray"
    .under
      %ul.left-menu
        %li.left-menu__categoly
          %p カテゴリーから探す
          %i.far.fa-caret-square-down
        %li.left-menu__brand
          %p ブランドから探す
          %i.far.fa-caret-square-down
      - if user_signed_in?
        %ul.right-menu
          %li
            = link_to "#" do
              = fa_icon 'heart', class: "icon-gray"
              %span いいね一覧
          %li
            = link_to "#" do
              = fa_icon 'bell', class: "icon-gray"
              %span お知らせ
          %li
            = link_to "#" do
              = fa_icon 'check', class: "icon-gray"
              %span やることリスト
          %li
            = link_to mypage_index_path do
              .header-bottom__right--image 
              %span マイページ
      - else
        %ul.right-menu
          %li.right-menu__sign_up
            = link_to "新規会員登録",signup_index_path, class: "btn registration"
          %li.right-menu__sigin_in
            = link_to "ログイン",new_user_session_path, class: "btn login"
      
