.items
  - @gifts.first(10).each do |gift|
    .items__item
      .item-image= link_to image_tag(Image.find_by(gift_id: "#{gift.id}").name.url), "/gifts/#{gift.id}(.:format)", method: :get
      .item-discriptions
        .item-discriptions--name= gift.name
        - if user_signed_in?
          %button.item-discriptions--edit-btn= link_to '編集', edit_gift_path(gift)
          %button.item-discriptions--delete-btn= link_to '削除', gift_path(gift), method: :delete
        .item-discriptions--categories= "#{Category.find("#{gift.category_id}").parent.parent.name}/#{Category.find("#{gift.category_id}").parent.name}/#{Category.find("#{gift.category_id}").name}/#{Brand.find("#{gift.brand_id}").name}"