= form_for(@gift) do |f|
  %label "商品名"
  = f.text_field :name, placeholder: "Until 40"
  %label 商品画像
  #image-box
    #previews
      -# - if @gift.persisted?
      -#   - @gift.images.each_with_index do |image, i|
      -#     = image_tag image.name.url, data: { index: i }, width: "100", height: '100'
    = f.fields_for :images do |image|
      .js-file_group{data: {index: "#{image.index}"}} 
        = image.file_field :name, class: 'js-file'
        %span.js-remove 削除
      - if @gift.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    -# - if @gift.persisted?
    -#   .js-file_group{data: {index: "#{@gift.images.count}"}}
    -#     = file_field_tag :name, name: "gift[images_attributes][#{@gift.images.count}][name]", class: 'js-file'
    -#     .js-remove 削除
  %label "商品説明"
  = f.text_field :discription, placeholder: "Please Discript Your Gift!"
  .listing-form-box
  .listing-product-detail__category
    = f.label 'カテゴリー', class: 'listing-default__label'
    .listing-select-wrapper
      .listing-select-wrapper__box
        = f.select :category, options_for_select(@category_parent_array), {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
  %label "商品の状態"
  = f.text_field :state, placeholder: "Choose State Of Your Gift"
  %label "配送料の負担"
  = f.text_field :shipping_charge, placeholder: "Who"
  %label "配送方法"
  = f.text_field :how_to_ship
  %label "発送元地域"
  = f.text_field :sender_region
  %label "発送までの日数"
  = f.text_field :days_to_ship
  %label "販売価格"
  = f.number_field :price, placeholder: "Type Price Of Your Gift"
  = f.submit "出品する"
