= form_for(@gift) do |f|
  %label "商品名"
  = f.text_field :name, placeholder: "Until 40"
  %br
  %label 商品画像
  #image-box
    #previews
      - if @gift.persisted?
        - @gift.images.each_with_index do |image, i|
          = image_tag image.name.url, data: { index: i }, width: "100", height: '100'
    = f.fields_for :images do |image|
      .js-file_group{data: {index: "#{image.index}"}} 
        = image.file_field :name, class: 'js-file'
        %span.js-remove 削除
      - if @gift.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    - if @gift.persisted?
      .js-file_group{data: {index: "#{@gift.images.count}"}}
        = file_field_tag :name, name: "gift[images_attributes][#{@gift.images.count}][name]", class: 'js-file'
        %span.js-remove 削除
  %br
  %label "商品説明"
  = f.text_field :discription, placeholder: "Please Discript Your Gift!"
  .listing-form-box
    .listing-product-detail__category
      .listing-default__label{label: 'カテゴリー'} 
      .listing-select-wrapper
        .listing-select-wrapper__box
          %select{class: 'listing-select-wrapper__box--select', id: 'parent_category'}
            - @category_parent_array.each do |parent|
              %option #{parent}
  %br
  %label "商品の状態"
  = f.text_field :state, placeholder: "Choose State Of Your Gift"
  %br
  %label "配送料の負担"
  = f.text_field :shipping_charge, placeholder: "Who"
  %br
  %label "配送方法"
  = f.text_field :how_to_ship
  %br
  %label "発送元地域"
  = f.text_field :sender_region
  %br
  %label "発送までの日数"
  = f.text_field :days_to_ship
  %br
  %label "販売価格"
  = f.number_field :price, placeholder: "Type Price Of Your Gift"
  %br
  = f.hidden_field :listing_state, value: 0
  -# 0: 出品中, 1: 交渉中, 2: 売却済, 3: 公開停止
  = f.hidden_field :user_id, value: "#{current_user}"
  = f.submit "出品する"
