.form-wrapper
  = form_for(@gift) do |f|
    .gift-about
      .individual-form
        .labels-wrapper
          .label
            = f.label :name, "商品名"
          .required 必須
        %br
        = f.text_field :name, placeholder: "Until 40",label: "商品名"
      .individual-form#image-box
        .labels-wrapper
          .label
            %label 商品画像
          .required 必須
          .cautions ※画像は10枚までアップロードできます
        #previews
          - if @gift.persisted?
            - @gift.images.each_with_index do |image, i|
              = image_tag image.name.url, data: { index: i }, width: "100", height: '100'
        = f.fields_for :images do |image|
          .js-file_group{data: {index: "#{image.index}" } }
            .js-file
              = image.file_field :name, style: "display:none", class: "js-upload"
              - if @gift.persisted?
                %label.original_btn ファイルを変更
                %span.icon.select 選択中
                .filename 
                  ファイル名: 
                  = @gift.images[image.index].name.identifier
              - else
                %label.original_btn ファイルを選択
                %span.icon 未選択
            %button.js-remove 削除
          - if @gift.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        - if @gift.persisted?
          .js-file_group{data: {index: "#{@gift.images.count}" } }
            .js-file
              = file_field_tag :name, name: "gift[images_attributes][#{@gift.images.count}][name]", style:"display:none", class: "js-upload", id: "gift_images_attributes_#{@gift.images.count}_name"
              %label.original_btn ファイルを選択
              %span.icon 未選択
            %button.js-remove 削除
      .individual-form
        .labels-wrapper
          .label
            = f.label :discription, "商品説明"
          .required 必須
        %br
        = f.text_area :discription, placeholder: "Please Discript Your Gift!"
    .gift-detail
      .individual-form#listing-product-detail__category
        .labels-wrapper
          .label 
            %label カテゴリー
          .required 必須
        - if @gift.persisted?
          .listing-select-wrapper
            .listing-select-wrapper__box
              %select{class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                %option ---
                - @category_parent_array.each do |parent|
                  - if "#{parent}" == Category.find(@gift.category_id).parent.parent.name
                    %option{selected: "selected"} #{parent}
                  - else
                    %option #{parent}
          #children_wrapper.listing-select-wrapper__added
            .listing-select-wrapper__box
              %select#child_category.listing-select-wrapper__box--select
                %option{data: {category: "---"}} ---
                - @category_children.each do |c|
                  - if "#{c.name}" == Category.find(@gift.category_id).parent.name
                    %option{data: {category: "#{c.id}"}, selected: "selected" } #{c.name}
                  - else
                    %option{data: {category: "#{c.id}"} } #{c.name}
          #grandchildren_wrapper.listing-select-wrapper__added
            #listing-select-wrapper__box.listing-select-wrapper__box
              %select#grandchild_category.listing-select-wrapper__box--select{name: "gift[category_id]" }
                %option ---
                - @category_grandchildren.each do |g|
                  - if "#{g.name}" == Category.find(@gift.category_id).name
                    %option{value: "#{g.id}", data: {category: "#{g.name}"}, selected: "selected" } #{g.name}
                  - else
                    %option{value: "#{g.id}", data: {category: "#{g.name}"}} #{g.name}
        - else
          .listing-select-wrapper
            .listing-select-wrapper__box
              %select{class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                %option ---
                - @category_parent_array.each do |parent|
                  %option #{parent}
      .individual-form
        .labels-wrapper
          .label
            = f.label :brand_id, "ブランド"
          .arbitrary 任意
        %br
        - if @gift.persisted?
          = f.select :brand_id, options_for_select(@brands.map{|c|[c[:name], c[:id], {'data-sample'=>c[:id]}]}, @gift.brand_id), {}, {class: 'brand-box', id: 'brand-box'}
        - else
          = f.select :brand_id, options_for_select(@brands.map{|c|[c[:name], c[:id]]}, 0), {}, {class: 'brand-box', id: 'brand-box'}
      .individual-form
        .labels-wrapper
          .label
            = f.label :state, "商品の状態"
          .required 必須
        %br
        %select{name: "state"}
          %option{value: "---"} ---
          %option{value: "未開封新品同様"} 未開封新品同様
          %option{value: "開封済み未使用美品、問題なく使用できる"} 開封済み未使用美品、問題なく使用できる
          %option{value: "キズあり、問題なく使用できる"} キズあり、問題なく使用できる
          %option{value: "美品、性能に問題アリ"} 美品、性能に問題アリ
          %option{value: "キズあり、性能に問題アリ"} キズあり、性能に問題アリ
    .gift-ships
      .individual-form
        .labels-wrapper
          .label
            = f.label :shipping_charge, "配送料の負担"
          .required 必須
        %br
        %select{name: "shipping_charge"}
          %option{value: "---"} ---
          %option{value: "出品者負担"} 出品者負担
          %option{value: "購入者負担"} 購入者負担

      .individual-form
        .labels-wrapper
          .label
            = f.label :how_to_ship, "配送方法"
          .required 必須
        %br
        %select{name: "how_to_ship"}
          %option{value: "---"} ---
          %option{value: "落落フリマ便"} 落落フリマ便
          %option{value: "youyouメルカリ便"} youyouメルカリ便
          %option{value: "遊メール"} 遊メール
          %option{value: "ラブレターパック"} ラブレターパック
          %option{value: "普通っちゃ普通っぽい郵便（定型外のみ）"} 普通っちゃ普通っぽい郵便（定型外のみ）
          %option{value: "黒猫大和清少納言"} 黒猫大和清少納言
          %option{value: "ゆうパック"} ゆうパック
          %option{value: "クリックポスト・テロメア・フィナーぜ"} クリックポスト・テロメア・フィナーぜ
          %option{value: "ゆうバゲット"} ゆうバゲット
      .individual-form
        .labels-wrapper
          .label
            = f.label :sender_region, "発送元地域"
          .required 必須
        %br
        = f.text_field :sender_region
      .individual-form
        .labels-wrapper
          .label
            = f.label :days_to_ship, "発送までの日数"
          .required 必須
        %br
        = f.number_field :days_to_ship
    .gift-price
      .individual-form
        .labels-wrapper
          .label
            = f.label :price, "販売価格"
          .required 必須
          .cautions ※日数を指定
        %br
        = f.number_field :price, placeholder: "Type Price Of Your Gift"
    = f.hidden_field :listing_state, value: 0
    -# 0: 出品中, 1: 交渉中, 2: 売却済, 3: 公開停止
    = f.hidden_field :user_id, value: "#{current_user.id}"
    .submit
      - if @gift.persisted?
        = f.submit "編集完了", id: "submit"
      - else
        = f.submit "出品する", id: "submit"

