= form_for :gift, url:gifts_path do |f|
  %label "商品名"
  = f.text_field :name, placeholder: "Until 40"
  -# = f.fields_for :images do |i|
  -#   %label "出品画像"
  -#   = i.file_field :name
  -#   %br
  %label "商品説明"
  = f.text_field :discription, placeholder: "Please Discript Your Gift!"
  -# %label "カテゴリー"
  -# = f.select :category, placeholder: "Choose Category!"
  -#   - @parents.each do |parent|
  -#     = parent.name
  -# %label 子カテゴリー
  -# = f.select :category, placeholder: "Choose Category!"
  -#   - @children.each do |child|
  -#     = child.name
  -# %label 孫カテゴリー
  -# = f.select :category, placeholder: "Choose Category!"
  -#   - @children.each do |child|
  -#     = child.name
  %label "商品の状態"
  = f.text_field :state, placeholder: "Choose State Of Your Gift"
  %label "配送料の負担"
  = f.text_field :shipping_charge, placeholder: "Who"
  %label "配送方法"
  = f.text_field :how_to_ship
  %label "発送元地域"
  = f.text_field :sender_region
  %label "発送までの日数"
  = f.text_field :days_to_ship
  %label "販売価格"
  = f.text_field :price, placeholder: "Type Price Of Your Gift"
  = f.submit "出品する"