= form_for @gift do |f|
  %label "商品名"
  = f.text_field :name, placeholder: "Until 40"
  %label "出品画像"
  = f.file_field :image, multiple: :true
  %label "商品説明"
  = f.text_field :discription, placeholder: "Please Discript Your Gift!"
  %label "カテゴリー"
  = f.text_field :category, placeholder: "Choose Category!"
  %label "商品の状態"
  = f.text_field :state, placeholder: "Choose State Of Your Gift"
  %label "販売価格"
  = f.text_field :price, placeholder: "Type Price Of Your Gift"
  = f.submit "出品する"