= render 'header'
.show
  - breadcrumb :show
  = render "layouts/breadcrumbs"
  .show-wrapper
    .gift-about
      .individual-form
        .labels-wrapper
          .label
            %label 商品名
          .required 必須
        %br
        .before-input
          = @gift.name
      .individual-form#image-box
        .labels-wrapper
          .label
            %label 商品画像
          .required 必須
        #previews
          - @gift.images.each_with_index do |image, i|
            = image_tag image.name.url, data: { index: i }, width: "100", height: '100'
      .individual-form
        .labels-wrapper
          .label
            %label "商品説明"
          .required 必須
        %br
        .before-input
          = @gift.discription
    .gift-detail
      .individual-form#listing-product-detail__category
        .labels-wrapper
          .label 
            %label カテゴリー
          .required 必須
        .before-input
          .listing-select-wrapper
            .listing-select-wrapper__box
              .listing-select-wrapper__box--select#parent_category
                = Category.find(@gift.category_id).parent.parent.name
          #children_wrapper.listing-select-wrapper__added
            .listing-select-wrapper__box
              #child_category.listing-select-wrapper__box--select
                = Category.find(@gift.category_id).parent.name
          #grandchildren_wrapper.listing-select-wrapper__added
            #listing-select-wrapper__box.listing-select-wrapper__box
              #grandchild_category.listing-select-wrapper__box--select
                = Category.find(@gift.category_id).name
      - if @gift.brand_id.present?
        .individual-form
          .labels-wrapper
            .label
              %label ブランド
            .arbitrary 任意
          %br
          .before-input
            .brand-box#brand-box
              = Brand.find(@gift.brand_id).name
      .individual-form
        .labels-wrapper
          .label
            %label 商品の状態
          .required 必須
        %br
        .before-input
          = @gift.state
    .gift-ships
      .individual-form
        .labels-wrapper
          .label
            %label 配送料の負担
          .required 必須
        %br
        .before-input
          = @gift.shipping_charge
      .individual-form
        .labels-wrapper
          .label
            %label 配送方法
          .required 必須
        %br
        .before-input
          = @gift.how_to_ship
      .individual-form
        .labels-wrapper
          .label
            %label 発送元地域
          .required 必須
        %br
        .before-input
          = @gift.sender_region
      .individual-form
        .labels-wrapper
          .label
            %label 発送までの日数
          .required 必須
        %br
        .before-input
          = @gift.days_to_ship
    .gift-price
      .individual-form
        .labels-wrapper
          .label
            %label 販売価格
          .required 必須
        %br
        .before-input
          = "¥#{@gift.price}"
    - if @gift.listing_state != 0 
      .hidden-form
        .cautions 
          ※この商品はすでに購入されているか、他のユーザーが交渉中です
        = link_to "ホームに戻る", :root, id: "submit"
    - else 
      = form_with(url: "/purchase/index", method: :get) do |f|
        = f.hidden_field :gift_id, value: "#{@gift.id}"
        = f.submit "購入確認画面へ進む", id: "pay_btn"
= render 'footer' 