.signin__container
  = render 'signup/login_header'
  .signin-main
    .signin-main__section
      .signin-main__section__top
        アカウントをお持ちでない方はこちら
      %ul.signin-main__conect__lists
        %li.signin-main__conect__lists__mail
          = link_to users_signup_registration_path do
            .signin-main__conect__lists__mail__btn
              新規会員登録
    .signin-main__conect
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %ul.signin-main__conect__lists
          %li.signin-main__conect__lists__facebook
            = link_to user_facebook_omniauth_authorize_path do
              .signin-main__conect__lists__facebook__btn
                Facebookでログイン
                %i.fbicon
                  = icon('fab', 'facebook-square')
          %li.signin-main__conect__lists__google2
            = link_to user_google_oauth2_omniauth_authorize_path do
              .signin-main__conect__lists__google2__btn
                Googleでログイン
              .signin-main__conect__lists__google2__icon
          %li.signin-main__conect__lists__input
            = f.email_field :email, autocomplete: "email", class:'input_box1',placeholder:'メールアドレス'
          %li.signin-main__conect__lists__input
            = f.password_field :password, autocomplete: "new-password", class:'input_box2',placeholder:'パスワード'
          %li.signin-main__conect__lists
            
              
              
          .actions
            .actions__btn
              = f.submit 'ログイン', class: "submit_btn"
            .actions__link
              = link_to "パスワードお忘れの方",'signup_page',class:'next_link'
  = render 'signup/login_footer'