.signup-wrapper
  .single-header
    %h1.single-header__logo
      = link_to root_path do 
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3951034907"
    %nav.progress-bar3
      %ol.clearfix
        %li.progress-bar3__active
          会員情報
          .progress-bar3__active__status
        %li.progress-bar3__active__phone-number
          電話番号認証
          .progress-bar3__active__status__phone-number
        %li.progress-bar3__active__address
          お届け先住所入力
          .progress-bar3__active__status__address
        %li.progress-bar3__active__payment
        
          .progress-bar3__active__status__payment
        %li.progress-bar3__active__complete
          完了
          .progress-bar3__active__status__complete
  .signup-main3      
    .signup-main3__head 発送元・お届け先住所入力
    .a-3
      = form_for (@address) do |f|
        
        .signup3__form
          %p
            郵便番号
          %span.content__require 必須 
        = f.text_field :postal_code, autocomplete: "postal_code", placeholder: '例) 123-4567', class: "signup3__form__input"
        .signup3__form
          %p
            都道府県
          %span.content__require 必須 
        = f.select :prefecture, Address.prefectures.keys,{prompt: '---'}, id:"signin3__prefecture"
        .signup3__form
          %p
            市区町村
          %span.content__require 必須 
        = f.text_field :city, autocomplete: "city", placeholder: '例) 横浜市緑区', class: "signup3__form__input"
        .signup3__form
          %p
            番地
          %span.content__require 必須 
        = f.text_field :street, autocomplete: "street", placeholder: '例) 青山1-1-1', class: "signup3__form__input"
        .signup3__form
          %p
            建物名
          %span.content__option 任意
        = f.text_field :building, autocomplete: "building", placeholder: '例) 柳ビル103', class: "signup3__form__input"
        %input.next-btn{type: 'submit',value: '次へ進む'} 
          
  = render 'signup/login_footer'